<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS classifier</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- css loader -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- icon loader -->
    <link rel="icon" type="image/png" href="static/images/HL.png">
</head>
<body>
    <!-- background-video -->
    <video id="background-video" autoplay loop muted >
        <source src="static/images/animation/bg.mp4" type="video/mp4">
    </video>

    <!-- background-content -->
    <div class="content">
        <div id="gradient-obj">
            <img src="static/images/grad.png" alt="img not ava..">
        </div>
        <div id="dev-by">
            <img src="static/images/dev by.png" alt="img not ava...">
        </div>
        
        <!-- main-sms-box -->
        <div class="chat-box">
            <form id="sms-form" action="/">
                <textarea name="sms" class="message-input" placeholder="Type or paste the message here"></textarea>
                <!-- predict-button -->
                <button type="button" id="predict-button" class="predict-button">classify</button>
            </form>
            <!-- side-output -->
            <div id="side-output">
                <img id="output-image" src="static/images/score.png" alt="img not ava...">
            </div>
        </div>
    </div>

    <!-- side-icon-bar -->
    <div class="icon-bar">
        <a href="https://www.linkedin.com/in/harshit-laloriya" class="linkedin tooltip" target="_blank"><img src="static/images/nav icons/linked in.png"  alt="">
            <span class="tooltiptext">linkedin</span>
        </a>

        <a href="https://www.instagram.com/hellboy.hut/" class="instagram tooltip" target="_blank"><img src="static/images/nav icons/insta.png" alt="">
            <span class="tooltiptext">instagram</span>
        </a> 

        <a href="mailto:officialharshitlaloriya@gmail.com" class="mail tooltip" target="_blank"><img src="static/images/nav icons/email.png" alt="">
            <span class="tooltiptext">email</span>
        </a> 

        <a href="https://github.com/HarshitLaloriya" class="github tooltip" target="_blank"><img src="static/images/nav icons/github.png" alt="">
            <span class="tooltiptext">github</span>
        </a>

        <a href="#" class="twitter tooltip"><img src="static/images/nav icons/twitter.png" alt="">
            <span class="tooltiptext">twitter</span>
        </a> 
    </div>

    <!-- # script  -->
    <script>
        const predictButton = document.getElementById('predict-button');
        predictButton.addEventListener('click', async () => {
            const smsInput = document.querySelector('textarea[name="sms"]');
            const smsText = smsInput.value.trim();
    
            if (smsText) {
                try {
                    const response = await fetch('/predict', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ sms: smsText })
                    });
    
                    const result = await response.json();
                    console.log(result); 
                    if (result.output === 'HAM') {
                        console.log("i am here")
                        const originalImage = document.getElementById('output-image');
                        originalImage.src = 'static/images/ham.png'; 
                        originalImage.alt = 'Original image';
                        
                    } else {
                    const originalImage = document.getElementById('output-image');
                    originalImage.src = 'static/images/spam.png'; 
                    originalImage.alt = 'Original image';
                }
                } catch (error) {
                    console.error(error);
                }
            } else {
                alert('Please enter a message!');
            }
        });
    </script>

</body>
</html>