<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>SMS classifier</title>
</head>
<body>
    <div class="icon-bar">
        <a href="#" class="linkedin tooltip"><img src="static/nav icons/linked in.png"  alt="">
            <span class="tooltiptext">linkedin</span>
        </a>
        <a href="#" class="instagram tooltip"><img src="./nav icons/insta.png" alt="">
            <span class="tooltiptext">instagram</span></a> 
        <a href="#" class="mail tooltip"><img src="./nav icons/email.png" alt="">
            <span class="tooltiptext">email</span></a> 
        <a href="#" class="github tooltip"><img src="./nav icons/github.png" alt="">
            <span class="tooltiptext">github</span></a> 
        <a href="#" class="twitter tooltip"><img src="./nav icons/twitter.png" alt="">
            <span class="tooltiptext">twitter</span></a> 
    </div>

    <!-- background-video -->
    <video id="background-video" autoplay loop muted >
        <source src="abc.mp4" type="video/mp4">
    </video>

    <div class="content">
        <div id="gradient-obj">
            <img src="grad.png" alt="img not ava..">
        </div>
        <div id="dev-by">
            <img src="dev by.png" alt="img not ava...">
        </div>
        <div class="chat-box">
            <form action="">
                <input type="text" class="message-input" placeholder="Type or paste the message here">
                <button class="predict-button">Predict</button>
            </form>
        </div>
    </div>
</body>
</html>